@font-face {
    font-family: 'GowoonDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

*{
  padding: 0;
  margin: 0;
  font-family:'GowoonDodum' ;
  -webkit-user-drag: none; 
  user-select: none; 
}

body{
  width: 100%;
  height: 100%;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;   
}


.mainBg{
  width: 100%;
  height: 100vw;
  background-color: #F0F0F0;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.mainBgCircle1 {
  width: 85vw;       
  height: 90vw;      
  border-radius: 50%;
  background-color: #82DCBA;
  position: absolute;
  top: -40vw;         
  left: -20vw;
  opacity: 0.8;
}


.mainBgCircle2{
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #66C09E;
  position: absolute;
  bottom: 30vw;
  right: -20vw;
  opacity: 0.8;
}

a{
  color: black;
  text-decoration: none;
}

.main-contemt{
  display: flex;
  width: 140vw;
}



.mainSchool {
  width: 60vw;          
  height: 80vh;          
  background-color: #fafafa;
  display: flex;
  position: relative;
  left: 3vw;
  top: 6vh;
  border-radius: 2vw;   
  border: 1px solid rgba(0, 0, 0, 0.1); 
  box-shadow: 0 6px 16px rgba(0,0,0,0.08)
}


.contentTitle{
  width: 12vw;
  height: 5vh;
  background-color: #fafafa;
  border: 1px solid gray;
  text-align: center;
  font-size: 1.3vw;
  padding-top: 7px;
  border-radius: 1vw;
  font-weight: 500;
  position: absolute;
  left: 3vw;
  top: -2vh;
}

.content{
  width: 95%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  overflow-y: scroll;
  margin-top: 10px;
}

.content2{
  width: 95%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  transform: translate(-50%,-50%);
  overflow-y: scroll;
  margin-top: 10px;
}


.popular{
  position: relative;
  width: 32vw;
  height: 21vw;
  display: flex;
  top: 50px;
  left: 5vw;
  background-color: #fafafa;
  border-radius: 2vw;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.recommend{
  position: relative;
  width: 32vw;
  height: 21vw;
  display: flex;
  top: 50vh;
  left: -27vw;
  background-color: #fafafa;
  border-radius: 2vw;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.schoolImgTitle{
  width: 95%;
  height: 5vw;
  display: flex;
  justify-self: center;
  background-color: #66C09E;
  font-size: 1.4vw;
  text-align: center;
  padding-top: 5px;
  font-weight: 500;
  color: #fafafa;
}

.schoolImg{
  width: 95%;
  height: 62%;
  display: flex;
  justify-self: center;
}

table{
  border-collapse : collapse;
  justify-self: center;
  width: 95%;
}

tr{
  border-collapse : collapse;
}

td{
  border: 1px solid #F0F0F0;
  border-collapse : collapse;
}

.talbeTitle{
  background-color: #66C09E;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1.2vw;
}

.talbeContent{
  margin: 0;
  margin-left: 20px;
  font-weight: 500;
}

.span{
  font-size: 20px;
}

.mainSchool,
.popular,
.recommend {
  transition: all 0.3s ease; 
}

.mainContentTitle{
  margin-top: 2vw;
  margin-left: 1.5vw;
  font-size: 2.3vw;
}

.mainContentImg{
  width: 95%;
  height: 30%;
  display: flex;
  justify-self: center;
}

.outlineTitle{
  margin-left: 1.5vw;
  margin-top: 2vw;
  font-size: 1.3vw;
  font-weight: 500;
}

.history{
  text-align: center;
}

.TH{
  background-color: #66C09E;
  color: white;
}

.mTable{
  background-color: #66C09E;
  height: 4vw;
  color: white;
  font-size: 1.5vw;
}

.content-notice{
  width: 3vw;
  height: 3vw;
  position: absolute;
  right: 0.5vw;
}

.content-notice img{
  margin-left: 0.5vw;
}

.notLogin{
  position: relative;
  width: 32vw;
  z-index: 5;
  height: 21vw;
  top: 6vh;
  left: 5vw;
  background-color: #fafafa;
  border-radius: 2vw;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.notLoginTitle{
  width: 12vw;
  height: 5vh;
  background-color: #fafafa;
  border: 1px solid gray;
  text-align: center;
  font-size: 1.3vw;
  padding-top: 7px;
  border-radius: 1vw;
  font-weight: 500;
  position: absolute;
  left: 3vw;
  top: -2vh;
}

.notLogin-login-btn{
  display: block;
  justify-self: center;
  margin-top: 4vw;
  width: 80%;
  height: 20%;
  border: none;
  border-radius: 2vw;
  color: white;
  background-color: #66C09E;
  font-size: 1.8vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.notLogin-singup-btn{
  display: block;
  justify-self: center;
  margin-top: 2vw;
  width: 80%;
  height: 20%;
  border: none;
  border-radius: 2vw;
  color: white;
  background-color: #66C09E;
  font-size: 1.8vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.notText{
  text-align: center;
  margin-top: 2vw;
  color: #7f7f7f;
  text-decoration: underline;
}

