* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf9f6;
  overflow: hidden;
  position: relative; 
  z-index: 0; 
}       

.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.color-div {
  width: 2000px;
  height: 2000px;
  background-color: #50AA88;
  border-radius: 50%;
  position: absolute;
  top: -1100px;
  left: -1150px;
  z-index: 0;
  transition: all 0.6s ease;
}

.color-div-text {
  position: absolute;
  top: 340px;
  left: 200px;
  font-size: 90px;
  font-weight: bold;
  color: white;
  z-index: 1;
  transition: all 0.6s ease;
}

.loginvar {
  width: 450px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 300px;
  right: 100px;
  border-radius: 40px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
  padding: 50px;
  transition: all 0.6s ease, opacity 0.5s ease;
  opacity: 1;
}

.loginvar.fade {
  opacity: 0;
}

input {
  display: block;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 0 15px;
  border-radius: 10px;
  border: none;
  background-color: #e4e4e4;
  font-size: 20px;
}

input[type="submit"] {
  background-color: #50AA88;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.singupText {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  color: #4a4a4a;
}




.signup-active .color-div {
  top: -50px;
  left: 600px;
}

.signup-active .loginvar {
  top: 225px;
  right: 1000px;
  height: 475px;
}

.signup-active .color-div-text {
  left: 1100px;
}

.signup-active form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
