.myAboutContent{
  width: 30%;
  height: 45%;
  z-index: 5;
  position: absolute;
  top: 5vh;
  left: 5vw;
}

.myAboutTitle{
  color:  black;
  font-size: 3vw;
  margin-left: 10%;
}

.myAboutImgBox{
  width: 80%;
  height: 50%;
  margin-top: 2vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fafafa;
  border: none;
  border-radius: 2vw;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2) ;
}

.myAboutImgBox img{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2vw;
}

.myAbout-input-file{
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3vh;
  width: 70%;
  height: 20%;
  border-radius: 2vw;
  background-color: #7f7f7f;
  font-size: 2vw;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2) ;

}

.myAbout-input-file p{
  margin-top: 1.2vh;
}

.myAbout-input-del{
  width: 60%;
  height: 10%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  font-size: 2vw;
  border: none;
  border-radius: 2vw;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2) ;
  background-color: #DF3E62;
  color: white;
}