@font-face {
    font-family: 'GowoonDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

*{
  font-family:'GowoonDodum' ;
}

.NavTitle{
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
}

.searchBar{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.searchText{
  width: 550px;
  height: 40px;
  border-radius: 50px;
  padding: 20px;
  border: 1px solid #3d3d3d;
  font-size: 24px;
  color: #4d4d4d;
}

.searchBtn{
  width: 55px;
  height: 42px;
  position: absolute;
  right: 6px;
  bottom: 10px;
  background-color: #dfdfdf;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #3d3d3d;
  font-size: 22px;
}

.searchBtn:hover{
  background-color: #7f7f7f;
}

.Navbar{
  width: 100%;
  height: 65px;
  background-color: #fafafa;
}

.noticeBtn{
  width: 150px;
  height: 40px;
  background-color: #dfdfdf;
  color: #3d3d3d;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  position: absolute;
  right: 125px;
  top: 12px;
}

.noticeBtn:hover{
  background-color: #7f7f7f;
}

.loginBtn,.myAbout{
  width: 75px;
  height: 40px;
  background-color: #dfdfdf;
  color: #3d3d3d;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  position: absolute;
  right: 30px;
  top: 12px;
}

.loginBtn:hover{
  background-color: #7f7f7f;
}

.myAbout:hover{
  background-color: #7f7f7f;
}

.reading{
  color: #3d3d3d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-40%);
}