.postPage-login{
  position: relative;
  width: 26vw;
  height: 15vw;
  top: 6vh;
  left: 70vw;
  background-color: #fafafa;
  border-radius: 2vw;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.05);  
}

.postPage-login-content{
  width: 95%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  transform: translate(-50%,-50%);
  overflow-y: scroll;
  margin-top: 10px;
}

.postPage-login-btn{
  display: block;
  justify-self: center;
  margin-top: 2vw;
  width: 80%;
  height: 25%;
  border: none;
  border-radius: 2vw;
  color: white;
  background-color: #66C09E;
  font-size: 1.8vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.postPage-singup-btn{
  display: block;
  justify-self: center;
  margin-top: 2vw;
  width: 80%;
  height: 25%;
  border: none;
  border-radius: 2vw;
  color: white;
  background-color: #66C09E;
  font-size: 1.8vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.postPage-write{
  position: relative;
  width: 26vw;
  height: 10vw;
  top: 13vh;
  left: 70vw;
  background-color: #fafafa;
  border-radius: 2vw;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.postPage-write-btn{
  display: block;
  justify-self: center;
  margin-top: 3vw;
  width: 80%;
  height: 40%;
  border: none;
  border-radius: 2vw;
  color: white;
  background-color: #66C09E;
  font-size: 1.8vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.postPage-img{
  position: absolute;
  width: 20vw;
  height: auto;
  top: 57vh;
  left: 72.5vw;
}

.postPage-bg{
  position: relative;
  width: 60vw;
  height: 45vw;
  top: -38vh;
  left: 3vw;
  border-top-right-radius: 40px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius:25px;
  background-color: #A67D00;
}

.postPage-content-bg{
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 99.5%;
  top: 0.3%;
  left: 0%;
}

.postPage-content{
  position: absolute;
  display: flex;
  align-items: center;
  width: 101.8%;
  height: 99%;
  top: 0%;
  left: -2.5%;
  z-index: 2;
}

.postPage-content-titleBox{
  position: absolute;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 40px ;
  z-index: 3;
}

.postPage-content-titleBox-title{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
}

.postPage-content-nextBtn{
  position: absolute;
  top: 45%;
  right: -4.5%;
  width: 3.5vw;
  height: 50%;
  border: none;
  z-index: 1;
}

.postPage-content-nextBtn button{
  width: 100%;
  height: 15%;
  border: none;
  margin: 15% 0;
  font-size: 1.8vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  z-index: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.postPage-content-nextBtn-btn1{
  text-align: center;
  background-color: #FFD728;
}
.postPage-content-nextBtn-btn1 img{
  display: flex;
  justify-self: center;
  align-items: center;
  width: 60%;
  height: auto;
}
.postPage-content-nextBtn-btn2{
  text-align: center;
  background-color: #22DDFF;
}
.postPage-content-nextBtn-btn3{
  text-align: center;
  background-color: #75EAFF;
}
.postPage-content-nextBtn-btn4{
  text-align: center;
  background-color: #ACF2FF;
}
.postPage-content-nextBtn-btn5{
  text-align: center;
  background-color: #EC4F96;
}

.postPage-content-nextBtn-btn5 img{
  display: flex;
  justify-self: center;
  align-items: center;
  width: 60%;
  height: auto;
}
