.postPage-login{
  position: relative;
  width: 32vw;
  height: 21vw;
  display: flex;
  top: 6vh;
  left: 65vw;
  background-color: #fafafa;
  border-radius: 2vw;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.05);  
}

.postPage-login-content{
  width: 95%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  transform: translate(-50%,-50%);
  overflow-y: scroll;
  margin-top: 10px;
}