.post-list{
  width: 55vw;
  height: 35vh;
}


.post-row {
  display: grid;
  height: 2.7vw;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  align-items: center;
  transition: background 0.2s;
  text-align: center;
}