.Postwrite-popular{
  width: 26vw;
  font-size: 1vw;
}

.Postwrite-recommend{
  width: 26vw;
  font-size: 1vw;
  margin-left: 6vw;
}

.Postwrite-post{
  width: 65vw;
  height: 85vh;
  top: 2vw;
  overflow-y: auto;
}

.Postwrite-post-title{
  width: 63vw;
  height: 6vh;
  font-size: 2vw;
  margin-top: 3vh;
  margin-left: 3vw;
  padding-left: 1vw;
}

.Postwrite-post-file{
  width: 90%;
  height: 6vh;
  font-size: 1.5vw;
  margin-top: 1vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f5f5;
  border: 2px solid #ddd;
  border-radius: 1vw;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 2vw;
  color: #7f7f7f;
  line-height: 5.5vh;
}


.Postwrite-post-file::file-selector-button{
  width: 10vw;
  line-height: 0vh;
  height: 100%;
  border: none;
  background-color: #7f7f7f;
  padding: 10px 20px;
  border-radius: 1vw;
  color: white;
  font-size: 1.2vw;
  cursor: pointer;
  position: absolute;
  right: -0.5vw;
  border-bottom-left-radius: 0vw;
  border-top-left-radius: 0vw;
}

.Postwrite-post-postTitle{
  width: 90%;
  height: 6vh;
  font-size: 1.5vw;
  margin-top: 6vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f5f5;
  border: 2px solid #ddd;
  border-radius: 1vw;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 2vw;
}

.Postwrite-post-textarea{
  width: 90%;
  height: 20vw;
  font-size: 1.5vw;
  margin-top: 11vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f5f5;
  border: 2px solid #ddd;
  border-radius: 1vw;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 2vw;
  resize: none;
  padding-top: 1vw;
  font-size: 1vw;
}

.Postwrite-post-category{
  width: 90%;
  height: 6vh;
  font-size: 1.5vw;
  margin-top: 33vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f5f5;
  border: 2px solid #ddd;
  border-radius: 1vw;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 2vw;
}

.Postwrite-post-submit{
  width: 90%;
  height: 6vh;
  font-size: 1.5vw;
  margin-top: 38vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7f7f7f !important;
  border: 2px solid #ddd;
  border-radius: 1vw;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 2vw;
}