.postDetail-title{
  font-size: 2.5vw;
  margin-top: 2vh;
  margin-left: 3vw;
  margin-bottom: 0;
}

.postDetail-lastEdited {
  font-size: 0.95rem;
  color: #666;
  background: #f5f5f5;
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
}

.postDetail-category-box{
  width: 95%;
  display: flex;
  margin-left: 2vw;
  height: 6%;
  background-color: #EAEAEA;
  border: 1px solid #BBBBBB;
  border-radius: 0.7vw;
  padding-left: 1vw;
  padding-top: 0.5vh;
}

.postDetail-content-box{
  width: 95%;
  display: flex;
  margin-left: 2vw;
  height: 60%;
  background-color: #EAEAEA;
  border: 1px solid #BBBBBB;
  border-radius: 0.7vw;
  padding-left: 1vw;
  padding-top: 0.5vh;
  margin-top: 2vh;
  overflow-y: auto;
}

.postDetail-info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5vh 3vw 2vh 3vw;
  font-size: 1.1rem;
}

.postDetail-author {
  font-weight: 600;
  font-size: 1.25rem;
  color: #222;
}