.postDetail-title{
  font-size: 2.5vw;
  margin-top: 2vh;
  margin-left: 3vw;
  margin-bottom: 0;
}

.postDetail-lastEdited{
  margin-top: 1vh;
  margin-left: 3vw;
}

.postDetail-category-box{
  width: 95%;
  display: flex;
  margin-left: 2vw;
  height: 6%;
  background-color: #EAEAEA;
  border: 1px solid #BBBBBB;
  border-radius: 0.7vw;
  padding-left: 1vw;
  padding-top: 0.5vh;
}

.postDetail-content-box{
  width: 95%;
  display: flex;
  margin-left: 2vw;
  height: 60%;
  background-color: #EAEAEA;
  border: 1px solid #BBBBBB;
  border-radius: 0.7vw;
  padding-left: 1vw;
  padding-top: 0.5vh;
  margin-top: 2vh;
  overflow-y: auto;
}